// Styling for the contact section
section#email {
  padding: 12px 0 0;
  background-color: $dark-purple;
  position: relative;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-top: 8px;
    margin-bottom: 19px;
    input {
      padding: .375rem .75rem;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 18- */
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 19+ */
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  .btn-primary{
    border: 1px solid $light-purple;
    cursor: pointer;
    position: relative;
    transform: translateY(50%);
    border-radius: 12px;
    &:hover{
      background-color: $dark-purple;
      border: 1px solid $white;
    }
  }
  .img-contact{
    position: absolute;
    bottom: 0;
      @media(max-width:400px) {
        display: none;
      }


  }
}
