// Styling for the portfolio section
#portfolio {

  h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  span{
    color: $light-purple;
  }
  .portfolio-item {
    background-image: url('../img/image-1.png');
    background-repeat: no-repeat;
    height: 288px;
    right: 0;
    margin: 0 0 15px;
    background-size: 50%;
    }
    .portfolio-caption {
      width: 50%;
      margin: 0 auto;
      padding: 40px 35px;
      text-align: center;
      background-color: $white;
      float: right;
      height: 287px;
      color: $grey;
      &:hover{
        background-color: $light-purple;
        color: $white;
        cursor: pointer;
      }
      h4 {
        font-size: 17px;
        font-weight: lighter;
        margin: 0 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $white;
        text-transform: none;
      }
      p {
        font-size: 15px;
        margin: 0;
        text-align: justify;
        @include serif-font;
      }
    }

    
  
}
@media(min-width:767px) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}
  