// Styling for the portfolio section
#portfolio {

  h2 {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: lighter;
  }
  span{
    color: $light-purple;
    font-weight: 700;
  }
  .portfolio-item {
    background-image: url('../img/thumbnail_ManutencaoComputadores.jpg');
    background-repeat: no-repeat;
    height: 288px;
    right: 0;
    margin: 0 0 15px;
    background-size: 47%;
    float: right;
    @media(max-width:1199px) {
      background-image: none;
    }
  }
   .portfolio-item01 {
    background-image: url('../img/thumbnail_Projetos_de_TI.jpg');
    background-repeat: no-repeat;
    height: 288px;
    right: 0;
    margin: 0 0 15px;
    background-size: 47%;
    float: right;
    @media(max-width:1199px) {
      background-image: none;
    }
  }
  .portfolio-item02 {
    background-image: url('../img/thumbnail_Internet_e_Redes.jpg');
    background-repeat: no-repeat;
    height: 288px;
    right: 0;
    margin: 0 0 15px;
    background-size: 47%;
    float: right;
    @media(max-width:1199px) {
      background-image: none;
    }
  }
  .portfolio-item03 {
    background-image: url('../img/thumbnail_ManutencaoImpressoras.jpg');
    background-repeat: no-repeat;
    height: 288px;
    right: 0;
    margin: 0 0 15px;
    background-size: 47%;
    float: right;
    @media(max-width:1199px) {
      background-image: none;
    }
  }
.portfolio-item04 {
    background-image: url('../img/image-1.png');
    background-repeat: no-repeat;
    height: 288px;
    right: 0;
    margin: 0 0 15px;
    background-size: 47%;
    float: right;
    @media(max-width:1199px) {
      background-image: none;
    }
  }
  .portfolio-item05 {
    background-image: url('../img/image-1.png');
    background-repeat: no-repeat;
    height: 288px;
    right: 0;
    margin: 0 0 15px;
    background-size: 46%;
    float: right;
    @media(max-width:1199px) {
      background-image: none;
    }
  }
  .portfolio-item06 {
    background-image: url('../img/thumbnail_CloudComputing.jpg');
    background-repeat: no-repeat;
    height: 288px;
    right: 0;
    margin: 0 0 15px;
    background-size: 46%;
    float: right;
    @media(max-width:1199px) {
      background-image: none;
    }
  }
    .portfolio-caption {
      width: 55%;
      margin: 0 auto;
      padding: 17px;
      text-align: center;
      background-color: $white;
      float: right;
      height: 260px;
      color: $dark-purple;
      @media(max-width:1199px) {
        width: 100%;
        background-color: $light-purple;
        color: $white;
        padding: 25px;
      }
      @media(max-width:400px) {
        height: 320px;
        margin-bottom: 20px;
      }

      &:hover{
        background-color: $light-purple;
        color: $white;
        cursor: pointer;
        transition:.2s;
       h4{
        border-bottom: 1px solid $white;
       }
       p{
        color: $white;
       }
      }
      h4 {
        font-size: 16px;
        font-weight: lighter;
        margin: 0 0 10px;
        padding-bottom: 10px;
        text-transform: none;
        text-transform: uppercase;
        border-bottom: 1px solid $grey;
        @media(max-width:1199px) {
          border-bottom: 1px solid $white;
        }
        strong{
          font-weight: 700;
        }
      }
      p {
        font-size: 14px;
        margin: 0;
        text-align: justify;
        color: $grey;
        @include serif-font;
        line-height: 20px;
        @media(max-width:1199px) {
        color: $white;
      }
      }
    }



}
@media(min-width:767px) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}


.slick-prev:before {
    content: " ";
    background-image: url('../img/left.png');
    background-repeat: no-repeat;

}
.slick-next:before {
    content: " ";
    background-image: url('../img/right.png');
    background-repeat: no-repeat;

}
.slick-next:before, .slick-prev:before {
    font-size: 56px !important;
    color: transparent !important;
  }