// Styling for the team section
section#team{
  padding: 0;
}
#team {
  margin-bottom: 50px;
  text-align: center;
  h2 {
    font-size: 24px;
  }
  p {
    color: $dark-purple;
    font-size: 17px;
    line-height: 35px;
  }
  img {
    margin: 30px auto;
  }
  span{
    color: $light-purple;
  }
}
